include ../date-dropdown/date-dropdown.pug 
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../label/label.pug

mixin room-price({ actionLink='/moke', number, isLuxe=false, pricePerDay=0, servicePrice=0, discountForService="", serviceInfo, addServicePrice=0, addServiceInfo }={})
  -
    const luxe = !isLuxe && 'room-price__room-number-luxe_hide'
    let service = 'Сбор за услуги:'
    let servicePriceCalc = 0
    if(discountForService) {
      service += ` скидка ${discountForService}₽`
      servicePriceCalc = servicePrice - discountForService
    }

  .room-price.js-room-price
    form(action=actionLink).room-price__form 
      .room-price__header
        .room-price__room-number
          .room-price__room-number-text-number="№"
          .room-price__room-number-text=number
          .room-price__room-number-luxe(class=luxe)="люкс"
        .room-price__price
          .room-price__price-sum.js-room-price__price-sum=`${pricePerDay}₽`
          .room-price__price-sum-per-day=" в сутки"
      .room-price__date
        +date-dropdown({ isFiltered: false,  startText: 'прибытие', finishText: 'выезд' })
      .room-price__guests
        +label({ text: 'гости', marginBottom: '5' })
        +dropdown({
          text: 'Сколько гостей'
          , options: [
            { text: 'взрослые', number: 0},
            { text: 'дети', number: 0},
            { text: 'младенцы', number: 0},
          ]
        })
      .room-price__calculate.js-room-price__calculate
        .room-price__for-room
          .room-price__for-room-description.js-room-price__for-room-description=`${pricePerDay}₽ x 0 суток`
          .room-price__for-room-price.js-room-price__for-room-price=`0₽`
        .room-price__for-services
          .room-price__for-services-left-wrapper
            .room-price__for-services-description=service
            .room-price__for-services-info="i"
          .room-price__for-services-price.js-room-price__for-services-price=`${servicePriceCalc}₽`
        .room-price__for-addservices
          .room-price__for-addservices-left-wrapper
            .room-price__for-addservices-description="Сбор за дополнительные услуги"
            .room-price__for-addservices-info="i"
          .room-price__for-addservices-price.js-room-price__for-addservices-price=`${addServicePrice}₽`
      .room-price__total
        .room-price__total-text="Итого"
        .room-price__total-separator
        .room-price__total-price.js-room-price__total-price=`0₽`
      .room-price__book-a-room
        +button({ type: 'rich', name: 'bookARoom', value: 'забронировать' })