include ../material-icons/material-icons.pug

mixin button({ type, name, value, actionLink }={})    
  - let typeClass
  .button
    case type
      when 'rich'
        - typeClass = `button__wraper-rich_${type}`          
        .button__wraper-rich
          .button__arrow
            +material-icons({type: "arrow_forward"})
          .button__text=value             
          input(type="submit", name=name, value=value, class=typeClass)
      when 'empty'
        - typeClass = `button__wraper-empty_${type}`
        button.button__wraper-empty
          a(href=actionLink, class=typeClass)=value
      when 'short-gradient-background'
        - typeClass = 'button__wraper-short_gradient-background'
        button.button__wraper-short
          a(href=actionLink, class=typeClass)=value
      when 'short-bordered'
        - typeClass = 'button__wraper-short_bordered'
        button.button__wraper-short
          a(href=actionLink, class=typeClass)=value  
      default
        - typeClass = `button__wraper_${type}`
        button.button__wraper            
          a(href=actionLink, class=typeClass)=value