include ../logo/logo.pug
include ../subscription-text-field/subscription-text-field.pug
include ../social-icons/social-icons.pug

mixin footer-with-copyright({ descriptionText, menuItems=[], subscribeHeader, subscribeDescription, subscribePlaceholder, copyrightText } = {})
  footer.footer-with-copyright
    .footer-with-copyright__wrapper-shadow-top
      .footer-with-copyright__wrapper-main
        .footer-with-copyright__logo-and-description
          figure.footer-with-copyright__logo
            +logo()
          .footer-with-copyright__description=descriptionText

        .footer-with-copyright__wrapper-right
          .footer-with-copyright__menu
            each item in menuItems
              .footer-with-copyright__menu-item
                - const { header, options } = item
                h3.footer-with-copyright__menu-item-header=header
                each option in options
                  - const { text, link } = option
                  a(href=link).footer-with-copyright__menu-item-option=text

          .footer-with-copyright__subscribe
            h3.footer-with-copyright__subscribe-header=subscribeHeader
            .footer-with-copyright__subscribe-description=subscribeDescription
            .footer-with-copyright__subscribe-field
              +subscription-text-field({ name: 'footerSubscribe', value: 'footerSubscribe', placeholder: subscribePlaceholder })

    .footer-with-copyright__wrapper-shadow-bottom
      .footer-with-copyright__wrapper-bottom
        .footer-with-copyright__copyright=copyrightText
        .footer-with-copyright__social
          +social-icons({
            icons: [
              { link: 'https://twitter.com/', img: './img/twitter.png', alt: 'Twitter' },
              { link: 'https://www.facebook.com/', img: './img/facebook.png', alt: 'Facebook' },
              { link: 'https://www.instagram.com/', img: './img/instagram.png', alt: 'Instagram' },
            ]
          })
