
mixin range-slider({ _label = 'Range Slider', _type = 'double', _min = 1000, _max = 15000, _step = 1, _from = 5000, _to = 10000, isMinMaxHidden = true, isFromToHidden = true, }={})
    .range-slider
        .range-slider__header
            .range-slider__label.h3=_label
            input(type="text" readonly).range-slider__price
        .range-slider__slider-wraper
            input(data-type=`${_type}` data-min=`${_min}` data-max=`${_max}` data-step=`${_step}` data-from=`${_from}` data-to=`${_to}` data-hide-min-max=`${isMinMaxHidden}` data-hide-from-to=`${isFromToHidden}`).range-slider__slider