include ../date-dropdown/date-dropdown.pug 
include ../dropdown/dropdown.pug
include ../button/button.pug
include ../label/label.pug

mixin room-price({ _actionLink="/moke", _number, _isLuxe=false, _pricePerDay=0, _servicePrice=0, _discountForService="", _serviceInfo, _addServicePrice=0, _addServiceInfo }={})
    - var luxe = ""
    if(!_isLuxe)
        - luxe = "room-price__room-number-luxe_hide"
    - var service = "Сбор за услуги:"
    - var servicePrice = 0
    if(_discountForService)
        - service += ` скидка ${_discountForService}₽`
        - servicePrice = _servicePrice - _discountForService
    .room-price
        form(action=_actionLink).room-price__form 
            .room-price__header
                .room-price__room-number
                    .room-price__room-number-text-number="№"
                    .room-price__room-number-text=`${_number}`
                    .room-price__room-number-luxe(class = luxe)="люкс"
                .room-price__price
                    .room-price__price-sum=`${_pricePerDay}₽`
                    .room-price__price-sum-per-day=" в сутки"
            .room-price__date
                +date-dropdown({_isFiltred: false,  _startText: "прибытие", _finishText: "выезд"})
            .room-price__guests
                +label({_text: "гости", _marginBottom: "5"})
                +dropdown({_text: "Сколько гостей", _options: [
                    {_text: "взрослые", _number: 0},
                    {_text: "дети", _number: 0},
                    {_text: "младенцы", _number: 0},
                ]})
            .room-price__calculate.body
                .room-price__for-room
                    .room-price__for-room-discription=`${_pricePerDay}₽ x 0 суток`
                    .room-price__for-room-price=`0₽`
                .room-price__for-services
                    .room-price__for-services-left-wrapper
                        .room-price__for-services-discription=service
                        .room-price__for-services-info="i"
                    .room-price__for-services-price=`${servicePrice}₽`
                .room-price__for-addservices
                    .room-price__for-addservices-left-wrapper
                        .room-price__for-addservices-discription="Сбор за дополнительные услуги"
                        .room-price__for-addservices-info="i"
                    .room-price__for-addservices-price=`${_addServicePrice}₽`
            .room-price__total
                .room-price__total-text="Итого"
                .room-price__total-separator
                .room-price__total-price=`0₽`
            .room-price__book-a-room
                +button({_type: "rich", _name: "bookARoom", _value: "забронировать",})