mixin text-field({_placeholder, _id, _isMasked = false, _isPaddingRightMode = false, _text, _isPassword=false}={})

    - var maskedMod = "";
    if _isMasked  
        - maskedMod = " text-field_masked"
        - _placeholder = "ДД.ММ.ГГГГ"
    
    - var addPadding = "";
    if _isPaddingRightMode
        - addPadding = " text-field_addPaddingRight"
    - var type = "text"
    if(_isPassword) 
        - type = "password"
    
    input(
        type=type 
        placeholder=_placeholder 
        id=_id 
        class=`text-field${maskedMod}${addPadding}`
        value=_text
    )