mixin text_field({_placeholder, _id, isMasked=false}={})

    - let maskedMod = '';

    if isMasked
        - maskedMod = ' text_field_masked'
    
    input(
        type="text" 
        placeholder=_placeholder 
        id=_id 
        class=`text-field body ${maskedMod}`
    )