
mixin range-slider({ _label = "Range Slider", _type = "double", _min = 765, _max = 14800, _step = 1, _from = 5000, _to = 10000, isMinMaxHidden = true, isFromToHidden = true, }={})
  section.range-slider.js-range-slider
    .range-slider__header
      h3.range-slider__label.h3=_label
      input(type="text" readonly).range-slider__price.js-range-slider__price
    .range-slider__slider-wraper
      input(data-type=`${_type}` data-min=`${_min}` data-max=`${_max}` data-step=`${_step}` data-from=`${_from}` data-to=`${_to}` data-hide-min-max=`${isMinMaxHidden}` data-hide-from-to=`${isFromToHidden}`).range-slider__slider.js-range-slider__slider