
include ../logo-site/logo-site.pug
include ../button/button.pug
include ../dropdown-nemu/dropdown-nemu.pug

mixin header({ _navOptions=[], _isShortMenu=false,  _isLogged, _username, _loginButtonText, _signupButtonText}={}) 
    - var unlogged =  ''
    - var logged = ''
    - var navlogged = ''
    if(_isLogged)
        - unlogged = 'header__unlogged_hide'
        - navlogged = 'header__navigation_margin-bottom-1'
    else
        - logged = 'header__logged_hide'
    
    -var current = 'header__navigation-link_font-weight-bold'
    
    - var shrtmenu = ''
    if(_isShortMenu)
        - var shrtmenu = 'header__navigation-link_short'
    
    header.header
        .header__wrapper
            .header__logo
                +logo-site()
            .header__navigation-wrapper
                .header__navigation(class=navlogged)                    
                    each navoption in _navOptions
                        - const {_text, _link, _isCurrent, _sublinks} = navoption
                        if (_sublinks)
                            +dropdown-nemu({ _text: _text, _navOptions: _sublinks })
                        else
                            if (_isCurrent)
                                a(href=_link, class=`${current} ${shrtmenu}`).header__navigation-link=_text
                            else
                                a(href=_link class=shrtmenu).header__navigation-link=_text
                .header__sign
                    .header__unlogged(class=unlogged)
                        .header__login-button
                            +button({ _type: 'short-bordered', _name: 'headerLogin', _value: _loginButtonText, _actionLink: '/moke' })
                        .header__sign-up-button
                            +button({ _type: 'short-gradient-background', _name: 'headerSignUp', _value: _signupButtonText, _actionLink: '/moke' })
                    .header__logged(class=logged)
                        .header__username=_username
                