
mixin label({ text, marginBottom, caption, marginCaption, isShort=false }={})
  -
    const marginTop = marginCaption === 3 ? 'label__caption_margin-top-3' : ''  
    const short = isShort ? ' label_short' : ''
  
  .label(class=`label_margin-bottom-${marginBottom}${short}`)
    h3.label__text=text
    .label__caption(class=marginTop)=caption