include ../rate-button/rate-button.pug 
include ../carusel/carusel.pug

mixin room-preview({ imgLinks=[], number, isLuxe=false, price, rate, comments, isWhithMargin=false }={})
  - const luxe = !isLuxe && '.room-preview__discripton-top-luxe_hide'  
  - const whithMarginStyle = isWhithMargin  && 'room-preview_with-margin'
  
  .room-preview(class=whithMarginStyle)
    .room-preview__carusel
      +carusel({ imgLinks: imgLinks })
    .room-preview__discripton-wrapper
      .room-preview__discripton-top
        .room-preview__discripton-top-wrapper-num
          .room-preview__discripton-top-number="№"
          .room-preview__discripton-top-num=number
          .room-preview__discripton-top-luxe(class=luxe)="люкс"
        .room-preview__discripton-top-wrapper-price
          .room-preview__discripton-top-price=`${price}₽`
          .room-preview__discripton-top-price-per-day="в сутки"
      .room-preview__separator
      .room-preview__discripton-bot
        .room-preview__discripton-bot-rate
          +rate-button({ rate: rate })
        .room-preview__discripton-bot-wrapper-comment
          .room-preview__discripton-bot-comment-num=comments
          .room-preview__discripton-bot-comment="Отзывов"