
include ../logo/logo.pug
include ../button/button.pug
include ../dropdown-menu/dropdown-menu.pug
include ../hamburger-menu/hamburger-menu.pug

mixin header({ navOptions=[], isShortMenu=false,  isLogged, username, loginButtonText, signupButtonText}={})
  -
    const unlogged = isLogged && 'header__unlogged_hide'
    const logged = !isLogged && 'header__logged_hide'
    const navigationLogged = isLogged && 'header__navigation_with-margin-bottom'
    const shortMenu = isShortMenu && 'header__navigation-link_short'
    const current = 'header__navigation-link_font-weight-bold'

  header.header
    .header__wrapper
      figure.header__logo
        +logo()
      nav.header__navigation-wrapper
        .header__navigation(class=navigationLogged)
          each navigationOption in navOptions
            - const {text, link, isCurrent, sublinks} = navigationOption
            if (sublinks)
              +dropdown-menu({ text: text, navOptions: sublinks })
            else
              if (isCurrent)
                a(href=link, class=`${current} ${shortMenu}`).header__navigation-link=text
              else
                a(href=link class=shortMenu).header__navigation-link=text
        .header__hamburger-menu
          -
            const menuItems = !isLogged
              ? navOptions.concat([
                { text: loginButtonText, link: './login', isCurrent: false },
                { text: signupButtonText, link: './sign-up', isCurrent: false }
              ])
              : navOptions
          +hamburger-menu({menuItems: menuItems})

        .header__sign
          .header__unlogged(class=unlogged)
            .header__login-button
              +button({ type: 'short-bordered', name: 'headerLogin', value: loginButtonText, actionLink: '/moke' })
            .header__sign-up-button
              +button({ type: 'short-gradient-background', name: 'headerSignUp', value: signupButtonText, actionLink: '/moke' })
          .header__logged(class=logged)
            .header__username=username
