
include ../logo-site/logo-site.pug
include ../button/button.pug
include ../dropdown-nemu/dropdown-nemu.pug

mixin header({ navOptions=[], isShortMenu=false,  isLogged, username, loginButtonText, signupButtonText}={}) 
  - let unlogged =  ''
  - let logged = ''
  - let navlogged = ''
  if (isLogged)
    - unlogged = 'header__unlogged_hide'
    - navlogged = 'header__navigation_margin-bottom-1'
  else
    - logged = 'header__logged_hide'
  
  - const current = 'header__navigation-link_font-weight-bold'
  
  - let shrtmenu = ''
  if (isShortMenu)
    - shrtmenu = 'header__navigation-link_short'
  
  header.header
    .header__wrapper
      figure.header__logo
        +logo-site()
      nav.header__navigation-wrapper
        .header__navigation(class=navlogged)                    
          each navoption in navOptions
            - const {text, link, isCurrent, sublinks} = navoption
            if (sublinks)
              +dropdown-nemu({ text: text, navOptions: sublinks })
            else
              if (isCurrent)
                a(href=link, class=`${current} ${shrtmenu}`).header__navigation-link=text
              else
                a(href=link class=shrtmenu).header__navigation-link=text
        .header__sign
          .header__unlogged(class=unlogged)
            .header__login-button
              +button({ type: 'short-bordered', name: 'headerLogin', value: loginButtonText, actionLink: '/moke' })
            .header__sign-up-button
              +button({ type: 'short-gradient-background', name: 'headerSignUp', value: signupButtonText, actionLink: '/moke' })
          .header__logged(class=logged)
            .header__username=username
                